*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
}
.title{
    text-align: center;
    margin: 40px auto 30px;
}
/* Configuração do Card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 450px;
    margin: auto;
    perspective: 1000px; /* Necessário para o efeito 3D */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; /* Mantém os elementos filhos em 3D */
}

/* Gira o card ao passar o mouse */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Esconde a parte de trás quando virada */
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg); /* Começa virado para trás */
    padding: 20px;
}

/* Estilização Interna do Verso */
.back-header img {
    width: 50%;
    margin-top: 20px;
}
.back-footer h2 {
    margin-top: 20px;
}
.back-footer p {
    font-size: 14px;
    margin: 10px 0;
}
.btn-box a {
    text-decoration: none;
    display: inline-block;
    width: 110px;
    padding: 8px 0;
    margin: 10px 5px;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.5s;
}
.btn-box a:hover {
    background: #000;
    border: 1px solid #000;
}
.stars {
    color: #ffcc00;
    margin-bottom: 10px;
}